$color_1: rgb(105, 34, 2);
$color_2: #a09005;
$color_3: black;
$color_4: rgb(201, 199, 77);
$color_5: rgb(0, 0, 0);
$font-family_1: 'Matura MT Script Capitals';
$font-family_2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$background-color_1: #e6cf03;
$background-color_2: rgb(196, 196, 184);
$background-color_3: #a09005;
$background-color_4: #e2b845;
$background-color_5: #524230;
$background-color_6: rgb(201, 199, 77);
$background-color_7: transparent;
$background-color_8: rgb(233, 233, 252);